# Betting sandbox

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
from numpy.random import random
from nhl_predict.betting.bot import BettingBot
import nhl_predict.betting.strategies as bstr

In [2]:
odds_path = Path("../data/odds")
bot = BettingBot(odds_path, bet_size=10)

In [3]:
for threshold in np.linspace(4.5, 6.2, 20):
    print(f"{threshold:.2f}: {bot.bootstrap_strategy(bstr.high_sum_draw, threshold=threshold)}")

4.50: -5.8018765164729    (-7.9923092739866455, -3.4269143635898605)
4.59: -5.80013630002819    (-8.008116193294619, -3.485073842968813)
4.68: -6.116611821793272    (-8.288508145075, -3.851001404050457)
4.77: -6.831547689208654    (-9.129983070451793, -4.318311220149212)
4.86: -6.008949492973906    (-8.972814898386224, -3.04302414997953)
4.95: -5.202006025607668    (-8.765847465063402, -1.7473703126833318)
5.04: -5.0754768058514    (-9.285963030910839, -0.2241094723099284)
5.13: -4.389009782046076    (-8.544047120382496, 0.0192793577821071)
5.22: -5.43828410268987    (-8.838404919371177, -1.7332829457772654)
5.31: -6.604571742328942    (-11.585387027551096, -1.4634357217313188)
5.39: -8.512876087520281    (-13.016696009112188, -4.033678874071599)
5.48: -7.966801278529973    (-14.086658066913683, -2.1187665602140253)
5.57: -10.524789165179692    (-18.118589394173863, -3.62052185986299)
5.66: -12.376564538554154    (-19.438584821746602, -5.123993631536067)
5.75: -11.826250481565387    (-20.19376456956057, -3.7083138798092357)
5.84: -12.986586169116839    (-26.293743934866, -0.7652672254260757)
5.93: -9.078521967135131    (-23.522479118352276, 4.189684137401411)
6.02: -15.606479322991149    (-27.208869020421645, -3.3389278412504986)
6.11: -1.6055374774272233    (-16.030868823151444, 13.63942098807825)
6.20: -2.6978379196992006    (-19.722178751138827, 14.76263483023645)

In [5]:
bot.bootstrap_strategy(bstr.away)

-8.067529573981393    (-10.389290482152187, -5.683760505153575)

In [3]:
df = bot._bet_season(2016, bstr.game_model_basic, model_prediction=None)
# df[df['bet'].notna()]
df

                              date                 home                 away  \
season game_id
2016   1       2016-10-12 19:00:00      Ottawa Senators  Toronto Maple Leafs
       2       2016-10-12 20:00:00   Chicago Blackhawks      St. Louis Blues
       3       2016-10-12 22:00:00      Edmonton Oilers       Calgary Flames
       4       2016-10-12 22:30:00      San Jose Sharks    Los Angeles Kings
       5       2016-10-13 19:00:00       Buffalo Sabres   Montreal Canadiens
...                            ...                  ...                  ...
       1226    2017-04-09 19:00:00     New York Rangers  Pittsburgh Penguins
       1227    2017-04-09 19:00:00  Philadelphia Flyers  Carolina Hurricanes
       1228    2017-04-09 19:00:00  Washington Capitals     Florida Panthers
       1229    2017-04-09 20:30:00        Anaheim Ducks    Los Angeles Kings
       1230    2017-04-09 21:00:00      Edmonton Oilers    Vancouver Canucks

               result     1     X     2
season game_id
2016   1            X  2.15  4.04  2.81
       2            2  2.29  3.81  2.72
       3            1  2.30  3.90  2.66
       4            1  2.13  3.85  2.98
       5            2  2.78  3.86  2.22
...               ...   ...   ...   ...
       1226         1  2.04  4.12  3.03
       1227         X  1.96  4.13  3.19
       1228         2  1.79  4.17  3.77
       1229         X  1.94  4.10  3.27
       1230         1  1.55  4.53  4.96

[1230 rows x 7 columns]
                          2         X         1
season    game_id
2016-2017 33       0.267088  0.210660  0.522252
          38       0.355610  0.244750  0.399640
          39       0.318776  0.232856  0.448369
          43       0.287206  0.215851  0.496943
          44       0.305929  0.249386  0.444684
...                     ...       ...       ...
          1226     0.324127  0.240889  0.434984
          1227     0.345339  0.246023  0.408638
          1228     0.327947  0.243445  0.428608
          1229     0.388720  0.243094  0.368186
          1230     0.372426  0.235334  0.392240

[1175 rows x 3 columns]

                              date                 home                 away  \
season game_id
2016   1       2016-10-12 19:00:00      Ottawa Senators  Toronto Maple Leafs
       2       2016-10-12 20:00:00   Chicago Blackhawks      St. Louis Blues
       3       2016-10-12 22:00:00      Edmonton Oilers       Calgary Flames
       4       2016-10-12 22:30:00      San Jose Sharks    Los Angeles Kings
       5       2016-10-13 19:00:00       Buffalo Sabres   Montreal Canadiens
...                            ...                  ...                  ...
       1226    2017-04-09 19:00:00     New York Rangers  Pittsburgh Penguins
       1227    2017-04-09 19:00:00  Philadelphia Flyers  Carolina Hurricanes
       1228    2017-04-09 19:00:00  Washington Capitals     Florida Panthers
       1229    2017-04-09 20:30:00        Anaheim Ducks    Los Angeles Kings
       1230    2017-04-09 21:00:00      Edmonton Oilers    Vancouver Canucks

               result     1     X     2
season game_id
2016   1            X  2.15  4.04  2.81
       2            2  2.29  3.81  2.72
       3            1  2.30  3.90  2.66
       4            1  2.13  3.85  2.98
       5            2  2.78  3.86  2.22
...               ...   ...   ...   ...
       1226         1  2.04  4.12  3.03
       1227         X  1.96  4.13  3.19
       1228         2  1.79  4.17  3.77
       1229         X  1.94  4.10  3.27
       1230         1  1.55  4.53  4.96

[1230 rows x 7 columns]

In [5]:
bot.bet_strategy(bstr.diff_small_fav)

          revenue  deposit      profit  profit_rate
2005  5318.999995     5400  -81.000005    -1.500000
2006  4531.299996     4930 -398.700004    -8.087221
2007  3788.100008     4570 -781.899992   -17.109409
2008  4908.000002     5340 -431.999998    -8.089888
2009  4124.299997     4600 -475.700003   -10.341304
2010  4195.100000     4540 -344.900000    -7.596916
2011  4390.200002     5040 -649.799998   -12.892857
2012  3015.899987     3070  -54.100013    -1.762215
2013  5355.799993     5760 -404.200007    -7.017361
2014  5872.899977     6440 -567.100023    -8.805901
2015  5306.999978     5370  -63.000022    -1.173185
2016  5340.899992     5310   30.899992     0.581921
2017  4766.399990     5140 -373.600010    -7.268483
2018  5954.200009     6350 -395.799991    -6.233071

In [7]:
print(bstr.diff_small_fav.__doc__)
bot.bootstrap_strategy(bstr.diff_small_fav)

Bets on underdog when the diff (odd_under - odd_fav) is lesser than threshold.

-6.949706480276227    (-9.36459676378912, -4.516591298775531)

In [21]:
bot.bootstrap_strategy(bstr.close_favorite)

-6.467747047890877    (-8.822973618696942, -4.007422681344218)

In [12]:
for name, val in bstr.__dict__.items():
    if callable(val):
        print(f"{name}: {val.__doc__}")

favorite: Always bets on favorite.
underdog: Always bets on underdog.
draws: Always bets on draw.
home: Always bets on home team.
away: Always bets on away team.
big_favorite: Bets on favorite if the odd is lower than 2.0.
close_favorite: Bets on favorite if the odd is 2.0 or higher.
diff_small_underdog: Bets on underdog when the diff (odd_under - odd_fav) is lesser than threshold.
diff_small_fav: Bets on underdog when the diff (odd_under - odd_fav) is lesser than threshold.

In [9]:
df = pd.read_pickle(odds_path / "2006-2007.pkl")
df

,date,home,away,result,1,X,2
0,2006-10-04 17:55:00,Toronto Maple Leafs,Ottawa Senators,2,2.48,4.25,2.28
1,2006-10-04 17:55:00,Colorado Avalanche,Dallas Stars,X,2.25,4.18,2.45
2,2006-10-04 17:55:00,Carolina Hurricanes,Buffalo Sabres,X,2.21,4.30,2.43
3,2006-10-05 17:55:00,Arizona Coyotes,New York Islanders,1,1.96,4.30,2.85
4,2006-10-05 17:55:00,Detroit Red Wings,Vancouver Canucks,2,2.38,4.33,2.70
...,...,...,...,...,...,...,...
1208,2007-04-08 13:00:00,Philadelphia Flyers,Buffalo Sabres,1,3.17,4.16,1.83
1209,2007-04-08 13:00:00,Dallas Stars,Chicago Blackhawks,1,1.52,4.54,4.46
1210,2007-04-08 15:30:00,New Jersey Devils,New York Islanders,X,2.54,4.17,2.15
1211,2007-04-08 17:00:00,Arizona Coyotes,Vancouver Canucks,1,2.33,4.10,2.28
1212,2007-04-08 17:55:00,Colorado Avalanche,Calgary Flames,1,1.88,4.21,2.96