# Betting sandbox

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
from numpy.random import random
from src.betting_bot import BettingBot
import src.betting_strategies as bstr

In [2]:
odds_path = Path("../data/odds")
bot = BettingBot(odds_path, bet_size=10)

In [3]:
for threshold in np.linspace(4.5, 6.2, 20):
    print(f"{threshold:.2f}: {bot.bootstrap_strategy(bstr.high_sum_draw, threshold=threshold)}")

4.50: -5.801876516472899    (-7.953057893421587, -3.4881859159978053)
4.59: -5.800136300028187    (-7.931465042007945, -3.47129783482929)
4.68: -6.1166118217932715    (-8.357203891493853, -3.824257102559489)
4.77: -6.831547689208652    (-9.163379850021133, -4.266622930291106)
4.86: -6.008949492973905    (-8.97050079154128, -3.020920543333917)
4.95: -5.202006025607667    (-8.724995797435398, -1.832241286216659)
5.04: -5.075476805851401    (-9.29363467803838, -0.49360200647215713)
5.13: -4.389009782046076    (-8.525122902206236, 0.028796133573168348)
5.22: -5.438284102689869    (-8.885616864254219, -1.7282920913755415)
5.31: -6.604571742328941    (-11.727347342264856, -1.3680619814353037)
5.39: -8.512876087520281    (-13.017377885027805, -4.11989934171279)
5.48: -7.966801278529973    (-14.023495958187794, -2.113787745727233)
5.57: -10.524789165179689    (-18.29842909592373, -3.5788569234410517)
5.66: -12.376564538554153    (-19.501698229070662, -5.300392670406495)
5.75: -11.826250481565387    (-20.269954474289836, -3.700906555508645)
5.84: -12.986586169116839    (-26.229403286074046, -0.44522782663909766)
5.93: -9.07852196713513    (-23.59885585855168, 4.13143905740845)
6.02: -15.606479322991149    (-27.303003535177112, -3.434256760294179)
6.11: -1.605537477427225    (-16.356586996708874, 13.68014940357418)
6.20: -2.6978379196992024    (-20.004783677385777, 14.951210492314154)

In [5]:
bot.bootstrap_strategy(bstr.away)

-8.067529573981393    (-10.389290482152187, -5.683760505153575)

In [6]:
df = bot._bet_season(2016, bstr.high_sum_draw, threshold=5.13)
df[df['bet'].notna()]

,date,home,away,result,1,X,2,bet,win,revenue,deposit
7,2016-10-13 19:30:00,Tampa Bay Lightning,Detroit Red Wings,1,1.91,4.01,3.36,X,False,0.000000,10
8,2016-10-13 19:30:00,Florida Panthers,New Jersey Devils,X,2.04,3.82,3.17,X,True,38.199999,10
17,2016-10-15 19:00:00,Tampa Bay Lightning,New Jersey Devils,1,1.83,4.03,3.61,X,False,0.000000,10
19,2016-10-15 19:00:00,Minnesota Wild,Winnipeg Jets,1,1.98,3.97,3.22,X,False,0.000000,10
20,2016-10-15 19:00:00,Washington Capitals,New York Islanders,1,1.81,4.10,3.63,X,False,0.000000,10
...,...,...,...,...,...,...,...,...,...,...,...
1224,2017-04-09 18:00:00,St. Louis Blues,Colorado Avalanche,1,1.69,4.35,4.09,X,False,0.000000,10
1225,2017-04-09 19:00:00,Washington Capitals,Florida Panthers,2,1.79,4.17,3.77,X,False,0.000000,10
1226,2017-04-09 19:00:00,Philadelphia Flyers,Carolina Hurricanes,X,1.96,4.13,3.19,X,True,41.300001,10
1228,2017-04-09 20:30:00,Anaheim Ducks,Los Angeles Kings,X,1.94,4.10,3.27,X,True,40.999999,10
1229,2017-04-09 21:00:00,Edmonton Oilers,Vancouver Canucks,1,1.55,4.53,4.96,X,False,0.000000,10

In [5]:
bot.bet_strategy(bstr.diff_small_fav)

          revenue  deposit      profit  profit_rate
2005  5318.999995     5400  -81.000005    -1.500000
2006  4531.299996     4930 -398.700004    -8.087221
2007  3788.100008     4570 -781.899992   -17.109409
2008  4908.000002     5340 -431.999998    -8.089888
2009  4124.299997     4600 -475.700003   -10.341304
2010  4195.100000     4540 -344.900000    -7.596916
2011  4390.200002     5040 -649.799998   -12.892857
2012  3015.899987     3070  -54.100013    -1.762215
2013  5355.799993     5760 -404.200007    -7.017361
2014  5872.899977     6440 -567.100023    -8.805901
2015  5306.999978     5370  -63.000022    -1.173185
2016  5340.899992     5310   30.899992     0.581921
2017  4766.399990     5140 -373.600010    -7.268483
2018  5954.200009     6350 -395.799991    -6.233071

In [7]:
print(bstr.diff_small_fav.__doc__)
bot.bootstrap_strategy(bstr.diff_small_fav)

Bets on underdog when the diff (odd_under - odd_fav) is lesser than threshold.

-6.949706480276227    (-9.36459676378912, -4.516591298775531)

In [21]:
bot.bootstrap_strategy(bstr.close_favorite)

-6.467747047890877    (-8.822973618696942, -4.007422681344218)

In [12]:
for name, val in bstr.__dict__.items():
    if callable(val):
        print(f"{name}: {val.__doc__}")

favorite: Always bets on favorite.
underdog: Always bets on underdog.
draws: Always bets on draw.
home: Always bets on home team.
away: Always bets on away team.
big_favorite: Bets on favorite if the odd is lower than 2.0.
close_favorite: Bets on favorite if the odd is 2.0 or higher.
diff_small_underdog: Bets on underdog when the diff (odd_under - odd_fav) is lesser than threshold.
diff_small_fav: Bets on underdog when the diff (odd_under - odd_fav) is lesser than threshold.

In [9]:
df = pd.read_pickle(odds_path / "2006-2007.pkl")
df

,date,home,away,result,1,X,2
0,2006-10-04 17:55:00,Toronto Maple Leafs,Ottawa Senators,2,2.48,4.25,2.28
1,2006-10-04 17:55:00,Colorado Avalanche,Dallas Stars,X,2.25,4.18,2.45
2,2006-10-04 17:55:00,Carolina Hurricanes,Buffalo Sabres,X,2.21,4.30,2.43
3,2006-10-05 17:55:00,Arizona Coyotes,New York Islanders,1,1.96,4.30,2.85
4,2006-10-05 17:55:00,Detroit Red Wings,Vancouver Canucks,2,2.38,4.33,2.70
...,...,...,...,...,...,...,...
1208,2007-04-08 13:00:00,Philadelphia Flyers,Buffalo Sabres,1,3.17,4.16,1.83
1209,2007-04-08 13:00:00,Dallas Stars,Chicago Blackhawks,1,1.52,4.54,4.46
1210,2007-04-08 15:30:00,New Jersey Devils,New York Islanders,X,2.54,4.17,2.15
1211,2007-04-08 17:00:00,Arizona Coyotes,Vancouver Canucks,1,2.33,4.10,2.28
1212,2007-04-08 17:55:00,Colorado Avalanche,Calgary Flames,1,1.88,4.21,2.96