In [1]:
from src.dataset_manager import DatasetManager
import pandas as pd

In [ ]:
%%time

dm = DatasetManager("../data")
df = dm.create_pre_game_dataset(2015, last_n_games=5)

In [6]:
df[['away_xG_ALL', 'away_xG_EV', 'away_xG_PP', 'home_xG_ALL', 'home_xG_EV', 'home_xG_PP']]

      away_xG_ALL  away_xG_EV  away_xG_PP  home_xG_ALL  home_xG_EV  home_xG_PP
0       15.134166   14.481625    0.000000    20.230824   17.715694    2.515129
1       14.899538   14.899538    0.000000    18.319510   16.604046    1.715464
2       24.344775   19.166529    5.178246    17.024657   15.282211    1.742446
3       18.015502   10.484372    7.531131    10.785283    6.257092    3.433595
4       17.759431   17.134478    0.000000    16.951016   13.339578    3.611438
...           ...         ...         ...          ...         ...         ...
1225    19.525529   17.866713    1.091123    11.085661   11.085661    0.000000
1226    16.684084   11.881255    3.601667    13.166344   10.990099    1.635598
1227    25.063330   17.820573    6.034965    20.362826   18.635777    1.727050
1228    18.344444   15.378937    2.965506    18.673304   17.642269    0.000000
1229    10.199203    7.561614    1.608654    20.179954   11.779421    5.379230

[1230 rows x 6 columns]

In [6]:
df = pd.read_csv("../data/games_stats/post_game/2015-2016.csv", index_col=0)
df[df['away_G_ALL'] == df['home_G_ALL']][['away_G_ALL', 'home_G_ALL']]

      away_G_ALL  home_G_ALL
7              2           2
15             2           2
19             4           4
28             2           2
36             1           1
...          ...         ...
1210           1           1
1223           4           4
1225           3           3
1228           3           3
1229           3           3

[275 rows x 2 columns]