In [1]:
import pandas as pd
import requests
import json
import numpy as np
import sys
import pickle
import multiprocessing as mp
from datetime import datetime, timezone, timedelta
from pathlib import Path
from src.stats_scraper import StatsScraper

In [2]:
ss = StatsScraper("../data/")

In [3]:
for season
ss.download_season(2015, n_jobs=10)

## StatsExtractor: download SEASON 2015/2016 from NHL API
... saved [72.15 s] to '../data/games_raw/2015-2016.pkl'

In [3]:
df = ss.convert_season_to_csv(2015)

In [6]:
df[df['outcome'] == 1]

,shot_type,distance,angle,distance_change,angle_change,time_change,prev_event_type,prev_event_same_team,is_home,goal_diff,outcome
7,Wrist Shot,37.483330,2.375060,-85.845499,0.482513,24,GIVEAWAY,1,0,0,1
32,Deflected,162.003086,1.576969,-20.884857,-0.092408,6,PENALTY,0,1,-1,1
83,Snap Shot,22.000000,1.570796,-29.662365,0.254368,2,SHOT,1,0,0,1
95,Wrist Shot,37.215588,1.463106,-122.308705,-0.246041,8,FACEOFF,1,0,1,1
100,Wrist Shot,22.135944,2.819842,-36.660315,0.523816,15,HIT,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
102299,Wrist Shot,8.062258,1.446441,0.991190,-0.909753,1,SHOT,1,0,-3,1
102304,Slap Shot,26.925824,1.833791,12.608003,1.401383,27,GIVEAWAY,0,0,-2,1
102311,Wrist Shot,11.180340,1.107149,-18.551798,-1.296629,16,FACEOFF,0,0,-1,1
102339,Wrist Shot,20.000000,1.570796,-146.003012,-0.006024,0,SHOT,0,0,0,1
102404,Wrist Shot,154.547727,1.655012,-4.976566,-0.054135,56,FACEOFF,0,1,0,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102424 entries, 0 to 102423
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   shot_type             73784 non-null   object
 1   distance              102424 non-null  float64
 2   angle                 102424 non-null  float64
 3   distance_change       102424 non-null  float64
 4   angle_change          102424 non-null  float64
 5   time_change           102424 non-null  int64
 6   prev_event_type       102424 non-null  object
 7   prev_event_same_team  102424 non-null  int64
 8   is_home               102424 non-null  int64
 9   goal_diff             102424 non-null  int64
 10  outcome               102424 non-null  int64
dtypes: float64(4), int64(5), object(2)
memory usage: 8.6+ MB